@import 'colors';

.vs-input {
  width: 100%;
}

.dark-mode {
  .separator {
    color: $gray-700;
  }

  .separator::before,
  .separator::after {
    border-bottom: 1px solid $gray-700;
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: $gray-500;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid $gray-400;
}

.separator::before {
  margin-right: 1em;
}

.separator::after {
  margin-left: 1em;
}

.vs-sidebar-content {
  .vs-sidebar {
    justify-content: center;
  }

  .vs-sidebar__logo {
    padding: 0;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  float: left;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  border-radius: 4px;
  background-clip: padding-box;

  &-right {
    right: 0;
  }

  &-left {
    left: 0;
  }

  &>li {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 0;

    &:first-child {
      border-bottom: 1px solid rgba(99, 99, 99, 0.25);
    }

    &:hover {
      background-color: rgba(149, 140, 180, 0.1);
    }

    &>a {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      clear: both;
      font-weight: normal;
      white-space: nowrap;
      text-decoration: none;
    }
  }
}

.hover-bg:hover {
  background-color: rgba(160, 149, 190, 0.055);
}

.disable-scrollbars {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;

  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* Chrome/Safari/Webkit */
  }
}

.con-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .vs-button__content {
    padding: 8px 20px;
  }

  ~.vs-button {
    margin-left: 10px;
  }
}

.not-margin {
  margin: 0px;
  font-weight: normal;
  padding: 10px;
  padding-bottom: 0px;
}

.emoji-invoker {
  transition: all 0.2s;
}

.emoji-invoker:hover {
  transform: scale(1.1);
}

.emojis:after {
  content: '';
  flex: auto;
}

.absolute-important {
  position: absolute !important;
}

.t-4 {
  top: 1rem;
}

.-r-64 {
  right: -17.5rem;
}

.text-2xs {
  font-size: .5rem;
}

.vs-sidebar-content {
  width: 64px !important;
  border-radius: 0;
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 5%);

  .vs-sidebar {
    justify-content: flex-start;
  }

  &.reduce {
    .vs-sidebar__footer {
      padding: 10px;
    }

    .vs-sidebar__item {
      margin: 6px 0;
    }
  }

  .vs-sidebar__item__icon {
    min-width: 64px;
  }

  .vs-sidebar__item__text-tooltip {
    left: 68px !important;
  }
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike>span {
  position: relative;
  display: inline-block;
}

.strike>span:before,
.strike>span:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: rgba(133, 133, 133, 0.1);
}

.strike>span:before {
  right: 100%;
  margin-right: 10px;
}

.strike>span:after {
  left: 100%;
  margin-left: 10px;
}
